/* .vh-100 {
  height: 100vh;
}

.card {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.card-header img {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
} */

.login-background {
  background: linear-gradient(to right, #797a85, #661212);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header h3 {
  font-size: 1.5rem;
  color: #333;
}

.form-group label {
  color: #333;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-link {
  color: #007bff;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

