
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Alquiler
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/formAlquilerComponent" >Alta Alquiler</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Listar Alquileres</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet />
<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Sobre Nosotros</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a routerLinkActive="active" routerLink="/home" class="text-white">Inicio</a></li>
          <li><a href="#" class="text-white">Galerías</a></li>
          <li><a href="#" class="text-white">Contacto</a></li>
          <li><a href="#" class="text-white">Acerca de</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt"></i> Dirección: Calle siempreviva 442</li>
          <li><i class="bi bi-envelope"></i> Email: contactogalerias.com</li>
          <li><i class="bi bi-telephone"></i> Teléfono: +54 9 388456 7890</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Síguenos</h5>
        <ul class="list-unstyled d-flex">
          <li><a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p class="mb-0">&copy; 2024 Galerías. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
