.register-background {
    background: linear-gradient(to right, #797a85, #661212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header h3 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .form-group label {
    color: #333;
  }
  
  .form-control.is-invalid {
    border-color: #dc3545;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-link {
    color: #007bff;
  }
  
  .btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  