<div class="container"></div>
<div class="about-container">
    <div class="card p-4">
      <div class="card-header text-center bg-white border-0">
        <h2>Sobre Nosotros</h2>
      </div>
      <div class="card-body">
        <h3 class="text-center"><i class="fas fa-bullseye"></i> Nuestra Misión</h3>
        <p>
          Facilitar la administración de propiedades comerciales y mejorar la experiencia tanto para los propietarios como para los inquilinos. Nos esforzamos por proporcionar una plataforma eficiente, intuitiva y segura para gestionar todos los aspectos del alquiler de locales comerciales.
        </p>
        <h3 class="text-center"><i class="fas fa-cogs"></i> ¿Qué Ofrecemos?</h3>
        <ul>
          <li><i class="fas fa-money-bill-wave"></i> <strong>Gestión de Pagos:</strong> Automatiza y gestiona los pagos mensuales de los inquilinos, facilitando el seguimiento de los pagos y evitando retrasos.</li>
          <li><i class="fas fa-exclamation-triangle"></i> <strong>Seguimiento de Novedades:</strong> Registra y gestiona incidencias o novedades en los locales, asegurando una comunicación efectiva y una rápida resolución de problemas.</li>
          <li><i class="fas fa-chart-bar"></i> <strong>Estadísticas y Reportes:</strong> Obtén informes detallados y estadísticas sobre el rendimiento de tus propiedades, ocupación, ingresos y mucho más, para tomar decisiones informadas.</li>
          <li><i class="fas fa-tags"></i> <strong>Promociones y Ofertas:</strong> Publica y gestiona promociones especiales para atraer nuevos inquilinos y mejorar la ocupación de los locales.</li>
        </ul>
        <h3 class="text-center"><i class="fas fa-handshake"></i> Nuestro Compromiso</h3>
        <p>
          Estamos comprometidos a ofrecer una solución completa y robusta que simplifique la gestión de alquileres comerciales y mejore la eficiencia operativa. Nuestro equipo trabaja continuamente para implementar nuevas características y mejorar la experiencia del usuario.
        </p>
        <h3 class="text-center"><i class="fas fa-envelope"></i> Contáctanos</h3>
        <p>
          Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte y asegurarnos de que obtengas el máximo beneficio de nuestro sistema.
        </p>
      </div>
    </div>
  </div>
  
