<div class="container mt-5">
    <h2>{{ usuario.id ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre Usuario</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombreUsuario">
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="nombre" formControlName="password">
      </div>
      <div class="mb-3">
        <label for="rol" class="form-label">Rol</label>
        <input type="text" class="form-control" id="rol" formControlName="rol">
      </div>
      <button type="submit" class="btn btn-primary">{{ usuario.id ? 'Actualizar' : 'Guardar' }}</button>
    </form>
  </div>
  