<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Propietario</th>
            <th scope="col">Nombre del Local es numerico</th>
            <th scope="col">Costo del Alquiler</th>
            <th scope="col">Plazo de Alquiler</th>
            <th scope="col">Fecha Inicio de Alquiler</th>
            <th scope="col">Estado del Pago </th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let al of auxListaAlquiler02">
            <th scope="row">{{al.propietario.apellido}} {{al.propietario.nombre}} </th>
            <td>{{al.local.nombreNumerico}}</td>
            <td>{{al.costoAlquiler}}</td>
            <td>{{al.plazoMes}}</td>
            <td>{{al.fechaAlquiler | date:'yyyy-MM-dd'}} </td>
            <td>{{al.pagoAlquiler.length}} / {{al.plazoMes}} </td>
            <td> <button class="btn-success" (click)="mostrarPagos(al._id)"> ver cuotas</button></td>
          </tr>
        </tbody>
      </table>


</div>
