<!-- <div id="sidebar" class="bg-dark text-white">
  <div class="sidebar-header d-flex align-items-center justify-content-between">
    <div class="sidebar-logo">
      <a routerLink="/duenio-dashboard" routerLinkActive="active">Dueño Dashboard</a>
    </div>

  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a routerLink="/duenio-dashboard/perfil" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span>Perfil</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/duenio-dashboard/local-form" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-agenda"></i>
        <span>Locales</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/duenio-dashboard/alquiler-form" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-agenda"></i>
        <span>Alquiler de Locales</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/duenio-dashboard/notificaciones" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-popup"></i>
        <span>Notificaciones</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/duenio-dashboard/configuracion" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-cog"></i>
        <span>Configuración</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a routerLink="/logout" class="sidebar-link">
      <i class="lni lni-exit"></i>
      <span>Logout</span>
    </a>
  </div>
</div> -->

<div id="sidebar" class="bg-dark text-white">
  <div class="sidebar-header d-flex align-items-center justify-content-between">
    <div class="sidebar-logo">
      <a [routerLink]="getDashboardLink()" routerLinkActive="active">{{ getDashboardTitle() }}</a>
    </div>
  </div>
  <ul class="sidebar-nav" *ngIf="rol">
    <li class="sidebar-item" *ngIf="rol === 'dueño' || rol === 'administrador' || rol === 'propietario'">
      <a [routerLink]="getProfileLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span>Perfil</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'dueño' || rol === 'administrador'">
      <a [routerLink]="getLocalFormLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-agenda"></i>
        <span>Locales</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'propietario'">
      <a [routerLink]="getLocalesDisponiblesLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span>Alquilar Local</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'propietario'">
      <a [routerLink]="getLocalesAlquiladosLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span>Mis locales</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'dueño' || rol === 'administrador' || rol === 'propietario'">
      <a [routerLink]="getPagoLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span>Pagar Alquiler</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'dueño' || rol === 'administrador' || rol == 'propietario'">
      <a [routerLink]="getAlquilerFormLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-agenda"></i>
        <span>Alquiler de Locales</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'dueño' || rol === 'administrador'">
      <a [routerLink]="getPostToFacebookLink()" routerLinkActive="active" class="sidebar-link">
     <i class="bi bi-facebook"></i>
    <span>Realizar Publicacion En Facebook</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'dueño'">
      <a [routerLink]="getNotificacionesLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-popup"></i>
        <span>Notificaciones</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'dueño' || rol === 'administrador'">
      <a [routerLink]="getConfiguracionLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-cog"></i>
        <span>Configuración</span>
      </a>
    </li>
    <li class="sidebar-item" *ngIf="rol === 'dueño'">
      <a [routerLink]="getEstadisticasPagosLink()" routerLinkActive="active" class="sidebar-link">
        <i class="lni lni-chart"></i>
        <span>Estadísticas de Pagos</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a (click)="logout()" class="sidebar-link">
      <i class="lni lni-exit"></i>
      <span>Logout</span>
    </a>
  </div>
</div>
